[user]
  name = Linus Fernandes
  email = linus.fernandes@gmail.com
  useConfigOnly = true
[init]
  defaultBranch = main
[cola]
  spellcheck = true
  maxrecent = 6
[core]
  autocrlf = input
  longpaths = true
  editor = vim
  symlinks = true
[push]
  autoSetupRemote = true
  recurseSubmodules = on-demand
[filter "spacify"]
  clean = expand --tabs=2 --initial
  smudge = expand --tabs=2 --initial
[alias]
  rank = shortlog -s -n --no-merges
  alias = config --get-regexp ^alias\\.
  last = cat-file commit HEAD
  root = rev-parse --show-toplevel
  dir = !bash gitdir
  sdiff = !git diff && git submodule foreach 'git diff'
  spush = push --recurse-submodules=on-demand
  supdate = submodule update --remote --merge
[receive]
  denyCurrentBranch = updateInstead
[protocol "file"]
  allow = always
[merge]
  conflictstyle = diff3
[credential]
  helper = cache
[hub]
  protocol = ssh
[credential "https://github.com"]
  helper =
  helper = !gh auth git-credential
[credential "https://gist.github.com"]
  helper =
  helper = !gh auth git-credential
[fetch]
    prune = true
[color]
  ui = auto
[help]
  autocorrect = prompt
[advice]
  skippedCherryPicks = false
[pull]
  rebase = true
[diff]
  submodule = log
[status]
  submodulesummary = 1
[submodule]
  recurse = true
[rerere]
  enabled = true
