[user]
  name = Linus Fernandes
  email = linus.fernandes@gmail.com
  useConfigOnly = true
[init]
  defaultBranch = main
[core]
  hooksPath = /data/data/com.termux/files/home/.git/hooks
  autocrlf = input
  excludesFile = /data/data/com.termux/files/home/.git/ignore
[filter "spacify"]
  clean = expand --tabs=2 --initial
  smudge = expand --tabs=2 --initial
[alias]
  rank = shortlog -s -n --no-merges
  alias = config --get-regexp ^alias\\.
  last = cat-file commit HEAD
  root = rev-parse --show-toplevel
  dir = !bash gitdir
[receive]
  denyCurrentBranch = updateInstead
[protocol "file"]
  allow = always
[merge]
  conflictstyle = diff3
