#!/usr/bin/env python
"""
{{CAMEL_CLASS}}.

######################################################################
# @author      : {{NAME}} ({{EMAIL}})
# @file        : {{FILE}}
# @created     : {{TIMESTAMP}}
# @description :{{CURSOR}}
# -*- coding: utf-8 -*-'
######################################################################
"""
